input{
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: medium;
}

input[type=submit]{
    background-color: rgb(3, 168, 3);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    font-size: medium;
    font-weight: bold;
}

input[type=submit]:hover{
    background-color: rgb(2, 207, 2);
    box-shadow: inset 1px 1px 1px 1px black;
}